.stars {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;
    gap: 4px;
}

.red-star {
    color: rgba(255, 96, 96, 1);
}

.grey-star {
    color: grey;
}