.tags {
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;

    span {
        background-color: rgba(255, 96, 96, 1);
        border-radius: 5px;
        padding: 0.25rem 0.5rem;
        margin-right: 10px;
        margin-bottom: 10px;

        @media (max-width: 768px) {
            font-size: 0.8rem;
        }
    }
}