.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: relative;
}

.carousel-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-button-left {
    left: 5%;
    font-size: 7rem;
}

.carousel-button-right {
    right: 5%;
    font-size: 7rem;
}

.carousel-image {
    width: 100%;
    height: 500px;
    border-radius: 20px;
    object-fit: cover;

    @media (max-width: 768px) {
        width: 100%;
        height: auto;
    }
}