.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;

    h1 {
        font-size: 20vh;
        margin-bottom: 70px;

        @media (max-width: 768px) {
            font-size: 10vh;
            margin-bottom: 35px;
        }
    }

    p {
        font-size: 2rem;
        margin-bottom: 70px;
        max-width: 50%;
        text-align: center;

        @media (max-width: 768px) {
            font-size: 1rem;
            margin-bottom: 35px;
            max-width: 100%;
        }
    }

    a {
        font-size: 1rem;

        @media (max-width: 768px) {
            font-size: 0.8rem;
        }
    }
}